html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
}

app-root {
  height: 100vh;
}

app-root,
app-video-player,
app-video-list,
app-stat-filters
{
  display: block;
  padding: 10px;
  margin: 10px;
}

app-video-dashboard {
  height: 80%;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
}

app-video-list {
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  background-color: lightblue;
  border: 3px solid gray;
}


app-video-thumbnail {
  display: grid;
  grid-gap: 10px;
  grid:
    " video-preview-image video-title  " auto
    " video-preview-image video-author " auto
    / 80px               1fr
  ;

  margin-bottom: 10px;
  padding: 5px;
  background-color: white;
  border: 3px solid white;
  border-radius: 10px;
  cursor: pointer;

  img {
    grid-area: video-preview-image;
    width: 100%;
  }

  .video-title {
    grid-area: video-title;
    font-size: 0.8rem;
    font-weight: bold;
  }

  .video-author {
    grid-area: video-author;
    font-size: 0.8rem;
    font-style: italic;
  }
}

.highlighted {
  box-shadow: 0 0 5px 5px yellow;
}

